<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>New Post</h1>
    <p>This is where you write a new post.</p>
    <form action="/" method="POST">
        <div class="new-article-container">
            <input required type="text" name="new-post-title" placeholder="Title">
            <textarea name="new-post-description" id="new-post-description" cols="60" rows="3" placeholder="Description"></textarea>
            <textarea name="new-post-body" id="new-post-body" cols="60" rows="20" placeholder="Type here"></textarea>
        </div>
        <button class="button delete-button"><a class="button-link" href="/">Cancel</a></button>
        <button class="button read-more-button" type="submit">Save</button>
    </form>
    <%- include("./footer.ejs") %>
</body>
</html>